//FONT FAMILY
$ff--primary: "Alata", sans-serif;
$ff--secondary: "Josefin Sans", sans-serif;
//COLORS
$color--white: hsl(0, 0%, 100%);
$color--black: hsl(0, 0%, 0%);
$color--dark--gray: hsl(0, 0%, 55%);
$color--very--dark--gray: hsl(0, 0%, 41%);
// Font-size
$fs--h1: 4.7em;
$fs--h2: 3.2em;
$fs--h3: 2.1em;
$fs--regular: 15px;
//Font-weight
$fw--300: 300;
//Spacing
$px: 165px; //pading left & pading right
$px-mobile: 80px; //pading left & pading right
$mb: 180px; //margin-bottom
